.logout {
    padding-top: 200px;
}

.feedimg {
    border-radius: 10px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.place {
    width: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); 
}

.feedtitle {
    font-size: 25px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.feedlocation {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
}

.feedguest {
    margin: 0;
    font-weight: 300;
    font-size: 12px;
}

.feedprice {
    margin: 0;

}

.places {
    margin-left: 75px;
    display: flex;
    padding-top: 100px;
    flex-wrap: wrap;
    gap: 0px;
    width: 100vw;
    justify-content: flex-start;
}

.search-bar {
}

.feedservice {
    display: inline-block;
    margin-right: 8px;
    margin-top: 4px;
    font-size: 8px;
    padding: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
    border: 2px solid #4280eb;
}

.feedmore {
    font-size: 10px;
}

.placecontent {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 10px;
}

.price {
    font-weight: 500;
}

.bi-heart {
    color: rgb(255, 0, 0);
    cursor: pointer;
    font-weight: 800;
}

.prices {
    display: flex;
    justify-content: space-between;
}

Link{
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}