@media screen and (max-width: 768px) {
    .registerform{
        flex-direction: column;
        margin: 0;
        padding: 0;
        margin-top: -50px;
    }
    input{
        width: 316px;
    }
    .submit{
        width: 350px;
    }
    .register{
        font-size: 80px;
    }
    .demo{
        width: 350px;
        background-color: #5182d7;
        color: white;
    }
    .form1{
        margin: 0;
        padding: 0;
    }
}